header {
    color: purple;
    font-size: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 75px;
    width: 100%;
    margin: 20px 20px 20px 20px;
}

body {
    color: black;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h1 {
    text-align: center;
    text-decoration: underline;
    color: black;
}

.questions {
    margin: 50px;
    text-align: center;
    font-size: x-large;
    text-decoration: solid underline;
}

.secondary-text {
    color: black;
    font-size: 14pt;
    text-align: center;
    text-decoration: none;
    margin: 20px 30px 20px 60px;
}
.btn {
    border: none;
    color: white;
    background-color:purple;
    text-align: center;
    margin: 50px 50px 50px 850px;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    cursor: pointer;
    border: 5px dotted gray;
    border-radius: 15px;
    height: 45px;
    width: 100px;
  }

  .timer {
      text-align: right;
      margin-top: 20px;

 
  footer {
    margin-top: 300px;
    color: black;
    font-size: x-large;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100px;
    width: 100%;
}